{# @copyright Copyright (c) 2018 Palantir.net #}
{% block siteHeader %}
  {% include "site-header.twig" %}
{% endblock %}

<main>
{% block pageContent %}
  <div class="sg-placeholder">Page Content</div>
{% endblock %}
</main>

{% block siteFooter %}
  {% include "site-footer.twig" %}
{% endblock %}
