<div class="container">
  <h1>Akamai Developers</h1>
  <h2>Living Styleguide</h2>

  <p>Welcome to the Akamai Developer's Living Styleguide. This guide primarily acts to establish and maintain consistent design patterns across the project. It contains a set of components that are used throughout various templates and are paired with the Drupal backend to render content on developers.akamai.com.</p> 

  <p>This styleguide is based on the <a href="http://patternlab.io/">PatternLab Atomic Design System</a>.</p>
</div>
