<div class="container">
  <h1>Glossary</h1>

  <p>This glossary can be used as a reference for terms used throughout the styleguide.</p> 
  
  <ul>
    <li><strong>ID</strong>: The id global attribute defines a unique identifier (ID) which must be unique in the whole document. Its purpose is to identify the element when linking (using a fragment identifier), scripting, or styling (with CSS). <div><small>Source: <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/id">MDN Web Docs</a></small></div></li>
    <li><strong>Class</strong>: The class global attribute is a space-separated list of the classes of the element. Classes allows CSS and Javascript to select and access specific elements via the class selectors or functions like the DOM method. <div><small>Source: <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/class">MDN Web Docs</a></small></div></li>
    <li><strong>HTML</strong>: (Hypertext Markup Language) is the code that is used to structure a web page and its content. For example, content could be structured within a set of paragraphs, a list of bulleted points, or using images and data tables.  As the title suggests, this article will give you a basic understanding of HTML and its functions. <div><small>Source: <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics">MDN Web Docs</a></small></div></li>
    <li><strong>Twig</strong>: PHP based templating engine that compiles templates down to plain optimized PHP code. <div><small>Source: <a href="https://twig.symfony.com/">Twig Documentation</a></small></div></li>
    <li><strong>Pattern Lab</strong>: Pattern Lab is a static site generator, in this case powered by PHP. <div><small>Source: <a href="http://patternlab.io/">Patternlab.io</a></small></div></li>
  </ul>
</div>
