{# @copyright Copyright (c) 2018 Palantir.net #}
{% extends '@templates/article.twig' %}

{% block articleBody %}
<h1>This is a heading level 1</h1>
<p>This introduction walks you through <a href="#">the workflow</a> to make your first Akamai API call.</p>

<h2>This is a heading level 2 (New Example)</h2>
<p>This introduction walks you through <a href="#">the workflow</a> to make your first Akamai API call. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse efficitur ut eros at volutpat. Quisque id est vitae magna accumsan efficitur. Aenean pharetra ipsum quis mauris aliquam, id scelerisque velit varius. Maecenas mollis mauris eu risus maximus sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean efficitur blandit iaculis. Integer lobortis ante velit, efficitur tempor augue dapibus a.</p>

<ul>
  <li>Optimize content delivery</li>
  <li>Customize user experience</li>
  <li>Integrate your systems</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    <ul>
      <li>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
      <li>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        <ul>
          <li>Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
          <li>Cillum dolore eu fugiat nulla pariatur.</li>
        </ul>
      </li>
      <li>Sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
    </ul>
  </li>
</ul>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse efficitur ut eros at volutpat. Quisque id est vitae magna accumsan efficitur. Aenean pharetra ipsum quis mauris aliquam, id scelerisque velit varius. Maecenas mollis mauris eu risus maximus sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean efficitur blandit iaculis. Integer lobortis ante velit, efficitur tempor augue dapibus a.</p>

<ol>
  <li>Review the OPEN API Introduction on tools that Akamai provides.</li>
  <li>Review the OPEN API Provisioning to create your OPEN API access credentials and authorizations. As detailed in API Identity Model, you then access the API using custom hostnames that look like this: XXXXXXX</li>
  <li>Review the OPEN API Provisioning to create your OPEN API access credentials and authorizations. As detailed in API Identity Model, you then access the API using custom hostnames that look like this: XXXXXXX</li>
</ol>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse efficitur ut eros at volutpat. Quisque id est vitae magna accumsan efficitur. Aenean pharetra ipsum quis mauris aliquam, id scelerisque velit varius. Maecenas mollis mauris eu risus maximus sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean efficitur blandit iaculis. Integer lobortis ante velit, efficitur tempor augue dapibus a.</p>

<h3>This is a third level heading</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aenean pharetra ipsum quis mauris aliquam, id scelerisque velit varius. Maecenas mollis mauris eu risus maximus sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean efficitur blandit iaculis. Integer lobortis ante velit, efficitur tempor augue dapibus a.</p>
<p><a href="#" class="inline-button button--tertiary button--small">Tertiary Button</a></p>

<h2>This is a heading level 2</h2>
<p>This introduction walks you through <a href="#">the workflow</a> to make your first Akamai API call.</p>

<h3>This is a third level heading</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p><a href="#" class="inline-button button--tertiary button--small">Tertiary Button</a></p>

<h3>This is a third level heading</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Suspendisse efficitur ut eros at volutpat. Quisque id est vitae magna accumsan efficitur. Aenean pharetra ipsum quis mauris aliquam, id scelerisque velit varius. Maecenas mollis mauris eu risus maximus sagittis.</p>
<p><a href="#" class="inline-button button--tertiary button--small">Tertiary Button</a></p>

<h3>This is a third level heading</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/><a href="#" class="inline-button button--tertiary button--small">Tertiary Button with soft return</a></p>

<h4>This is a fourth level heading</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aenean pharetra ipsum quis mauris aliquam, id scelerisque velit varius. Maecenas mollis mauris eu risus maximus sagittis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean efficitur blandit iaculis. Integer lobortis ante velit, efficitur tempor augue dapibus a.</p>
<p><a href="#" class="inline-button button--tertiary button--small">Tertiary Button</a></p>

<h5>This is a fifth level heading</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p><a href="#" class="inline-button button--tertiary button--small">Tertiary Button</a></p>

<h6>|  THIS IS A LEVEL 6 HEADING LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISICING ELIT, SED DO EIUSMOD TEMPOR INCIDIDUNT UT LABORE</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p><a href="#" class="inline-button button--tertiary button--small">Tertiary Button</a></p>


<h2>APIs are open for everyone to use.</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sapien metus, commodo pellentesque eros ac, mattis pellentesque sem: </p>
<ul>
  <li>Optimize content delivery</li>
  <li>Customize user experience</li>
  <li>Integrate your systems</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    <ul>
      <li>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
      <li>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        <ul>
          <li>Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
          <li>Cillum dolore eu fugiat nulla pariatur.</li>
        </ul>
      </li>
      <li>Sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
    </ul>
  </li>
</ul>
<h2>Getting Started</h2>
<p>Before using the API for the first time:</p>
<ol>
  <li>Review the OPEN API Introduction on tools that Akamai provides.</li>
  <li>Review the OPEN API Provisioning to create your OPEN API access credentials and authorizations. As detailed in API Identity Model, you then access the API using custom hostnames that look like this: XXXXXXX</li>
  <li>Review the OPEN API Provisioning to create your OPEN API access credentials and authorizations. As detailed in API Identity Model, you then access the API using custom hostnames that look like this: XXXXXXX</li>
</ol>
<h3>What are the Goals of this Product?</h3>
<p>Vivamus congue eros pretium, scelerisque sem vitae, condimentum dui. Mauris bibendum sit amet mauris at scelerisque. Phasellus malesuada semper diam non consectetur. Mauris dictum, lorem et vulputate rutrum, ex lectus dignissim erat, at finibus felis metus quis ligula.</p>
<pre class="prism-wrapper">
  <code class="language-csharp">
using System;

namespace RectangleApplication {
   class Rectangle {
      
      // member variables
      double length;
      double width;
      
      public void Acceptdetails() {
         length = 4.5;    
         width = 3.5;
      }
      public double GetArea() {
         return length * width; 
      }
      public void Display() {
         Console.WriteLine("Length: {0}", length);
         Console.WriteLine("Width: {0}", width);
         Console.WriteLine("Area: {0}", GetArea());
      }
   }
   class ExecuteRectangle {
      static void Main(string[] args) {
         Rectangle r = new Rectangle();
         r.Acceptdetails();
         r.Display();
         Console.ReadLine(); 
      }
   }
}
  </code>
</pre>
<p>Figure 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nisl lacus, fermentum ac dignissim et, porttitor sed quam. Cras pharetra gravida purus, in aliquam ligula.</p>

<h2>Section 2</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
{% include "inline-image.twig" with { "src": "https://placeimg.com/900/600/any", "alt": "Alternative Text", "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.", "orientation": "right"} %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

<h3>This is a third level heading</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

{% include "inline-blockquote.twig" with { "quote" : "Fusce consequat imperdiet ipsum id sollicitudin. Nulla elit orci, eleifend sed magna eget, rutrum tincidunt erat. Quisque nec diam vitae urna interdum lacinia.", "cite" : "Jane Doe" } %}

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h2>Section 3</h2>
{% include "inline-blockquote.twig" with { "quote" : "Fusce consequat imperdiet ipsum id sollicitudin. Nulla elit orci, eleifend sed magna eget, rutrum tincidunt erat. Quisque nec diam vitae urna interdum lacinia.", "cite" : "Jane Doe", "orientation" : "right" } %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% include "inline-blockquote.twig" with { "quote" : "Fusce consequat imperdiet ipsum id sollicitudin. Nulla elit orci, eleifend sed magna eget, rutrum tincidunt erat. Quisque nec diam vitae urna interdum lacinia.", "cite" : "Jane Doe", "orientation" : "full" } %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% include "inline-image.twig" with { "src": "https://placeimg.com/900/600/any", "alt": "Alternative Text", "caption": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.", "orientation": "left"} %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

{% endblock %}
