{# @copyright Copyright (c) 2018 Palantir.net #}

<div class="customer-summary">
  <h2 class="customer-summary__header">Summary</h2>
  <div class="customer-summary__inner">
    {% include "customer-summary.twig" %}
  </div>
</div>
