<table class="table--transparent">
  <caption>Table of Lorem Ipsum</caption>
  <thead>
    <tr>
      <th>TH: Nullam magna</th>
      <th>TH: aliquet vitae</th>
      <th>TH: Ut sem</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sed bibendum massa sit amet imperdiet sodales. Pellentesque sed malesuada dui, in aliquam urna. Proin condimentum ornare erat et ultrices. Sed hendrerit nulla ut elementum facilisis. Aliquam rutrum turpis et erat cursus, ac laoreet nunc facilisis. Nulla dictum aliquam nisl, ac fringilla libero placerat rutrum.</td>
      <td>Ut auctor dapibus elementum. Duis auctor mollis neque id mollis. Nam orci magna, ultricies ut ipsum sit amet, scelerisque fermentum massa. Sed bibendum massa sit amet imperdiet sodales. Pellentesque sed malesuada dui, in aliquam urna. Proin condimentum ornare erat et ultrices.</td> 
      <td>Ut auctor dapibus elementum. Duis auctor mollis neque id mollis. Nam orci magna, ultricies ut ipsum sit amet, scelerisque fermentum massa. Sed bibendum massa sit amet imperdiet sodales. Pellentesque sed malesuada dui, in aliquam urna. Proin condimentum ornare erat et ultrices. Sed hendrerit nulla ut elementum facilisis. Aliquam rutrum turpis et erat cursus, ac laoreet nunc facilisis. Nulla dictum aliquam nisl, ac fringilla libero placerat rutrum.</td>
    </tr>
    <tr>
      <td>Proin condimentum ornare erat et ultrices. Sed hendrerit nulla ut elementum facilisis. Aliquam rutrum turpis et erat cursus, ac laoreet nunc facilisis. Nulla dictum aliquam nisl, ac fringilla libero placerat rutrum.</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor dapibus elementum. Duis auctor mollis neque id mollis. Nam orci magna, ultricies ut ipsum sit amet, scelerisque fermentum massa. Sed bibendum massa sit amet imperdiet sodales. Pellentesque sed malesuada dui, in aliquam urna. Proin condimentum ornare erat et ultrices. Sed hendrerit nulla ut elementum facilisis. Aliquam rutrum turpis et erat cursus, ac laoreet nunc facilisis. Nulla dictum aliquam nisl, ac fringilla libero placerat rutrum.</td> 
      <td>Ut auctor dapibus elementum. Duis auctor mollis neque id mollis. Nam orci magna, ultricies ut ipsum sit amet, scelerisque fermentum massa. Sed bibendum massa sit amet imperdiet sodales. Pellentesque sed malesuada dui, in aliquam urna. Proin condimentum ornare erat et ultrices.</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Nam orci magna, ultricies ut ipsum sit amet, scelerisque fermentum massa. Sed bibendum massa sit amet imperdiet sodales. Pellentesque sed malesuada dui, in aliquam urna. Proin condimentum ornare erat et ultrices. Sed hendrerit nulla ut elementum facilisis. Aliquam rutrum turpis et erat cursus, ac laoreet nunc facilisis. Nulla dictum aliquam nisl, ac fringilla libero placerat rutrum.</td>
      <td>Nam orci magna, ultricies ut ipsum sit amet, scelerisque fermentum massa. Sed bibendum massa sit amet imperdiet sodales. Pellentesque sed malesuada dui, in aliquam urna. Proin condimentum ornare erat et ultrices.</td> 
      <td>Proin condimentum ornare erat et ultrices. Sed hendrerit nulla ut elementum facilisis. Aliquam rutrum turpis et erat cursus, ac laoreet nunc facilisis. Nulla dictum aliquam nisl, ac fringilla libero placerat rutrum.</td>
    </tr>
  </tfoot>
</table>
</div>
