{# @copyright Copyright (c) 2018 Palantir.net #}

<figure class="inline-video">
  <div class="inline-video-container">
    <iframe src="{{ video_url }}" frameborder="0" title="{{title}}" allowfullscreen></iframe>
  </div>
</figure>

