  
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  {# Minified version of all scripts in /libraries dir #}
  <script src="../../assets/js/libraries.min.js"></script>
  {# Minified version of all scripts in /custom dir #}
  <script src="../../assets/js/site.min.js"></script>
  </body>
</html>
