{# @copyright Copyright (c) 2018 Palantir.net #}
<div class="st-search-container">

<!-- begin swiftype injected markup -->
<div class="st-query-present st-install-CLvgtFmxKWyXZPw6wHQR"><div class="st-ui-embed " style="">
  <!-- Swiftype input and results overlay -->
  <div class="st-ui-container st-ui-injected-container   st-ui-injected-on-page-container">
    <!-- HEADER -->
    <div class="st-ui-container-header_bar st-position-container">
    </div>

    <!-- LEFT SIDEBAR -->
    <div class="st-ui-container-left_sidebar st-position-container">
      <div class="st-ui-injected-search-controls">
      </div>
    </div>

    <!-- RIGHT SIDEBAR -->
    <div class="st-ui-container-right_sidebar st-position-container">
      <div class="st-ui-injected-container-right_sidebar">
        <div class="st-ui-injected-search-controls">
        </div>
      </div>
    </div>

    <!-- PRIMARY CONTENT -->
    <div class="st-ui-container-primary_content st-position-container">
        <div class="st-ui-injected-search-summary st-search-summary"><div class="st-query-present">              Showing <strong>1</strong>–<strong>10</strong> of <strong>682</strong>
               <span class="st-ui-search-summary-query"> for “web performance” </span>

</div></div>
        <div class="st-ui-injected-content st-search-results"><div class="st-query-present" style="display: block;"><a href="https://developer.akamai.com/learn/Video_Gallery/Web_Performance_Series.html" class="st-ui-result __swiftype_result" data-st-result-doc-id="58e397d3e621f46e1698bfb0">
  <span class="st-ui-type-heading"><em>Web Performance</em> Series</span>
  <span class="st-ui-type-detail">
      
    
  </span>
</a><a href="https://developer.akamai.com/blog/2015/06/11/page-bloat-average-web-page-size/" class="st-ui-result __swiftype_result" data-st-result-doc-id="5ae8f5d10711e87e656a0d4d">
  <span class="st-ui-type-heading">Page Bloat and Optimizing <em>Web Performance</em></span>
  <span class="st-ui-type-detail">
      
    Page bloat: The average <em>web</em> page size is more than 2MB by Tammy Everts June 11, 2015 1230 Click to share on Twitter (Opens in new window) Click to share on Facebook (Opens in new window) Click to share on LinkedIn (Opens in new window) 0 I’ve been tracking the typical web page weight and composition
  </span>
</a><a href="https://developer.akamai.com/blog/2016/04/20/interpret-report-performance-test-results" class="st-ui-result __swiftype_result" data-st-result-doc-id="5aea67f00711e8563bbf4657">
  <span class="st-ui-type-heading">How to Effectively Report your <em>Web Performance</em> Tests</span>
  <span class="st-ui-type-detail">
      
    How to Report Your <em>Performance</em> Test Results Like a Pro by Eric Proegler April 20, 2016 1345 Click to share on Twitter (Opens in new window) Click to share on Facebook (Opens in new window) Click to share on LinkedIn (Opens in new window) 0 I recently attended&nbsp;STPCon&nbsp;in San Francisco. STP continues to
  </span>
</a><a href="https://developer.akamai.com/blog/category/web-performance/" class="st-ui-result __swiftype_result" data-st-result-doc-id="5a8dbb940755235438745280">
  <span class="st-ui-type-heading"><em>Web Performance</em> Archives - Akamai Developer Blog</span>
  <span class="st-ui-type-detail">
      
    A password will be e-mailed to you. Developer Developer Akamai Developer Blog GET STARTED APIS TOOLS LEARN CODE COMMUNITY BLOG REGISTER Blog - <em>Web Performance</em> Home Web Performance Akamai 101: Setting Up an API-Focused Property Manager Configuration July 9, 2018 by Jeff Costa TIP: If you encounter any
  </span>
</a><a href="https://developer.akamai.com/blog/tag/web-performance/page/2/" class="st-ui-result __swiftype_result" data-st-result-doc-id="5b0ff8490cc37f0822ea77ab">
  <span class="st-ui-type-heading"><em>Web Performance</em> Archives - Page 2 of 2 - Akamai Developer Blog</span>
  <span class="st-ui-type-detail">
      
    password will be e-mailed to you. Developer Developer Akamai Developer Blog GET STARTED APIS TOOLS LEARN CODE COMMUNITY BLOG REGISTER Blog Home Tags <em>Web Performance</em> Tag: Web Performance Optimize Your Life at #PerfMatters Web Performance Conference March 26, 2018 by Javier Garza I love conferences, especially
  </span>
</a><a href="https://developer.akamai.com/blog/2015/09/01/mobile-web-performance-monitoring-conversion-rate" class="st-ui-result __swiftype_result" data-st-result-doc-id="5aea67f0e621f424db1ebad1">
  <span class="st-ui-type-heading">Mobile <em>Web Performance</em> Monitoring and Conversion Rate</span>
  <span class="st-ui-type-detail">
      
    Case Study: Mobile <em>Web Performance</em> Monitoring and Conversion Rate by Tammy Everts September 1, 2015 1128 Click to share on Twitter (Opens in new window) Click to share on Facebook (Opens in new window) Click to share on LinkedIn (Opens in new window) 0 In the past, gathering data about&nbsp;mobile performance&nbsp;and
  </span>
</a><a href="https://developer.akamai.com/blog/tag/web-performance/" class="st-ui-result __swiftype_result" data-st-result-doc-id="5a8dde5c0cc37f9b12ccfd3f">
  <span class="st-ui-type-heading"><em>Web Performance</em> Archives - Akamai Developer Blog</span>
  <span class="st-ui-type-detail">
      
    password will be e-mailed to you. Developer Developer Akamai Developer Blog GET STARTED APIS TOOLS LEARN CODE COMMUNITY BLOG REGISTER Blog Home Tags <em>Web Performance</em> Tag: Web Performance Recap: Akamai Developer at Velocity + Fluent San Jose 2018 June 28, 2018 by Jessica Mills We had a blast meeting and talking
  </span>
</a><a href="https://developer.akamai.com/edge-2017/videos/connecting-web-performance-to-business" class="st-ui-result __swiftype_result" data-st-result-doc-id="5a8de0818e9c0f76976fc6f4">
  <span class="st-ui-type-heading">Connecting <em>Web Performance</em> to Business Results Using mPulse</span>
  <span class="st-ui-type-detail">
      
    Toggle navigation Get Started APIs Tools Learn Code Community Blog Register Sessions and Presentations Connecting <em>Web Performance</em> to Business Results Using mPulse Real user measurements of web performance using Akamai mPulse provide the “ground truth” about your customers’ online experience. Beyond the
  </span>
</a><a href="https://developer.akamai.com/blog/2018/03/26/optimize-your-life-at-perfmatters-web-performance-conference/" class="st-ui-result __swiftype_result" data-st-result-doc-id="5ab99f06075523320912be19">
  <span class="st-ui-type-heading">Optimize Your Life at #PerfMatters <em>Web Performance</em> Conference - Akamai Developer Blog</span>
  <span class="st-ui-type-detail">
      
    Optimize Your Life at #PerfMatters <em>Web Performance</em> Conference by Javier Garza March 26, 2018 800 Click to share on Twitter (Opens in new window) Click to share on Facebook (Opens in new window) Click to share on LinkedIn (Opens in new window) 2 I love conferences, especially web performance conferences
  </span>
</a><a href="https://developer.akamai.com/blog/2018/05/10/velocity-fluent-conference-akamai/" class="st-ui-result __swiftype_result" data-st-result-doc-id="5af4b1f2c75d070f002aaade">
  <span class="st-ui-type-heading">Optimize Your <em>Web Performance</em> with Akamai at Velocity &amp; Fluent, San Jose</span>
  <span class="st-ui-type-detail">
      
    on LinkedIn (Opens in new window) 0 The 2018 O’Reilly Velocity + Fluent Conference, June 11-14, is the place to be for the distributed systems, <em>web performance</em>, and DevOps communities to come together and share their latest work. The Akamai Developer team is thrilled to sponsor Velocity 2018; in addition
  </span>
</a></div></div>

      <section class="st-ui-no-results st-search-suggestions"><div class="st-query-not-present" style="display: none;">
      </div><div class="st-query-present">
</div></section>
    </div>



    <!-- FOOTER -->
    <div class="st-ui-container-footer_bar st-position-container">
      <section class="st-ui-footer">
        <span class="st-ui-pagination st-search-pagination"><div class="st-query-present">
  
  
    
      <a class="st-ui-pagination-link st-ui-pagination-number-link st-result-pagination-link active" data-st-page="1" href="#">1</a>
    
  
    
      <a class="st-ui-pagination-link st-ui-pagination-number-link st-result-pagination-link" data-st-page="2" href="#">2</a>
    
  
    
      <a class="st-ui-pagination-link st-ui-pagination-number-link st-result-pagination-link" data-st-page="3" href="#">3</a>
    
  
    
      <a class="st-ui-pagination-link st-ui-pagination-number-link st-result-pagination-link" data-st-page="4" href="#">4</a>
    
  
    
      <a class="st-ui-pagination-link st-ui-pagination-number-link st-result-pagination-link" data-st-page="5" href="#">5</a>
    
  
  
    <a class="st-ui-pagination-link st-result-pagination-link" data-st-page="2" href="#">
      next <span class="st-ui-arrow right-arrow"></span>
    </a>
  

</div></span>
      </section>
    </div>
  </div>
</div></div>

<!-- end swiftype injected markup -->
</div>
