{# @copyright Copyright (c) 2018 Palantir.net #}


<div class="container">
  <div class="row">
    <div class="col-12">
      {% block oneUp %}
      <div class="sg-placeholder">First</div>
      {% endblock %}
    </div>
  </div>
</div>
