{# @copyright Copyright (c) 2018 Palantir.net #}

<div class="container"> 
  <div class="row">
    <div class="col-md-4 col-lg-3">
      {% block threeNineFirst %}
      <div class="sg-placeholder">Left</div>
      {% endblock %}
    </div>
    
    <div class="col-md-8 col-lg-9">
      {% block threeNineSecond %}
      <div class="sg-placeholder">Right</div>
      {% endblock %}
    </div>
  </div>
</div>
