{# @copyright Copyright (c) 2018 Palantir.net #}
<div class="card-group">
  {% for item in resourceCardGroup %}
    {% set resource = item %}
    {% include "card--resource.twig" %}
  {% endfor %}
</div>
