{# @copyright Copyright (c) 2018 Palantir.net #}
<span id="menu-overlay" class="menu-overlay"></span>
<header id="site-header" class="site-header">
  <div class="site-header-container">
    
    <button id="menu-trigger" class="menu-trigger" title="Open Menu" type="button">{% include "menu.svg" %}</button>

    {% include "header-brand.twig" %}
    
    {% include "menu.twig" %}
    
    {% include "site-search.twig" %}
    
  </div>
</header>
