{# @copyright Copyright (c) 2018 Palantir.net #}
<div class="search-results-form">
  <h2 class="search-results-title">{% include "search.svg" %} Search</h2>
  
  <form action="/" method="post" id="swiftype-integration-search-form" accept-charset="UTF-8">
    <div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label">
          <input class="search__input st-default-search-input form-search" id="site-search" data-drupal-selector="edit-keys" type="search" name="keys" value="" size="15" maxlength="128" autocomplete="off" autocorrect="off" autocapitalize="off">

          </div>
    <input autocomplete="off" data-drupal-selector="form-t3bfi4ixvfporxwfflvnxvh1qtz9kdlgail5p9mebsy" type="hidden" name="form_build_id" value="form-T3bFi4IXVfpoRxWFfLvnXVh1QTz9kDLGAil5P9MEBSY">
    <input data-drupal-selector="edit-swiftype-integration-search-form" type="hidden" name="form_id" value="swiftype_integration_search_form">
    
    {# Button #}
    <button type="submit">Search</button>
  </form>
</div>
