{# @copyright Copyright (c) 2018 Palantir.net #}

<table>
  <caption>Table of Lorem Ipsum</caption>
  <thead>
    <tr>
      <th>Nullam magna</th>
      <th>aliquet vitae</th>
      <th>Ut sem</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Value</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td> 
      <td>Factor</td>
    </tr>
    <tr>
      <td>Value</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td> 
      <td>Factor</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Value</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td> 
      <td>Factor</td>
    </tr>
  </tfoot>
</table>
</div>

<div class="table-wrapper">
<table>
  <caption>Table of Lorem Ipsum</caption>
  <tbody>
    <tr>
      <th>Nullam magna</th>
      <td>Value</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td> 
      <td>Factor</td>
    </tr>
    <tr>
      <th>aliquet vitae</th>
      <td>Value</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td> 
      <td>Factor</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Ut sem</th>
      <td>Value</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td> 
      <td>Factor</td>
    </tr>
  </tfoot>
</table>
