{# @copyright Copyright (c) 2018 Palantir.net #}
{% extends '@templates/default.twig' %}

{% block pageContent %}
  
  {% block blogHero %}
    <header class="hero hero--small">
      <div class="container">
        <div class="row hero-row">
          <div class="hero-block">
            <h1 class="hero__title">Blog</h1>
          </div>
        </div>
      </div>
    </header>
  {% endblock %}
  
  
  {% block blogContent %}
  <div class="page">
    <div class="container">
      <div class="row">
        
        {% block blogMain %}
        <div class="col-md-8 col-lg-9">
          <header>
            {% if blog.featuredImg %}
              <img class="page__image" src="{{blog.featuredImg.src}}" alt="{{blog.featuredImg.alt}}" />
            {% endif %}
            <h1 class="page__header">{{blog.title}}</h1>
            
            <div class="page__meta">
              {% set date = blog.date %}{% include "date.twig" %}{% if blog.authors %}{% include "divider.twig" %}{% set authors = blog.authors %}{% include "authors.twig" %}{% endif %}
            </div>
            
          </header>
          <div class="page__body">
            {% block blogBody %}
            <div class="sg-placeholder">Blog Body Content</div>
            {% endblock %}
            
            {% include "tag-list.twig" %}
          </div>
        </div>
        {% endblock %}
        
        <aside class="col-md-4 col-lg-3 order-md-first">
          {% block blogRail %}          
            {% include "rail-related-list.twig" %}
            {% include "rail-subscribe.twig" %}
          {% endblock %}
        </aside>
      </div>
    </div>
  </div>

  {% endblock %}
  
{% endblock %}

